* {
    box-sizing: border-box;
}
.container {
    max-width: 1450px;
    margin: 0 auto;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    font-family: Roboto;
}
/*HEADER*/
.header {
    &__inner {
        display: flex;
        padding: 48px 0 0 0;
        position: relative;
    }
    &__menu {
        display: flex;
        margin: 0 0 0 97px;
        
        &-list {
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            letter-spacing: 0.02em;
            color: #1B0A42;
            margin-right: 40px;
            transition: all 0.3s;

            &:first-child {
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                font-weight: bold;

            }

            &:hover {
                color: rgb(83, 83, 243);
            }
        }
    }
   &__button {
      position: absolute;
      right: 0;
      top: 30px;
      
      &-in {
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.02em;
        color: #1B0A42;
        border: none;
        cursor: pointer;
        background: white;
        
        &:hover {
            color: rgb(238, 147, 36);
        }
        
      }
      &-up {
          margin-left: 40px;
          font-weight: bold;
          font-size: 16px;
          line-height: 24px;
          text-align: center;
          letter-spacing: 0.02em;
          color: #FFFFFF;

          width: 120px;
          height: 59.65px;
          left: 1412.26px;
          top: 30px;
          background: #FC569A;
          border-radius: 6px;
          cursor: pointer;

          &:hover {
              background: rgb(224, 116, 174);
          }
            }
   }
}
/*WORK*/
.work {
    &__inner{
        display: flex;
        align-items: center;
        position: relative;    
        justify-content: space-between;
        padding: 133px 0 0 112px;
    }
    &__content {
        
    }         
    &__title {
            width: 500px;
            font-family: Ramaraja;
            font-size: 72px;
            line-height: 76px;
            letter-spacing: 0.02em;
            color: #1B0A42;
            margin-bottom: 25px;
        }
    &__text {
            width: 530px;
            font-size: 20px;
            line-height: 32px;
            letter-spacing: 0.02em;
            color: #9A9A9A;
            margin-bottom: 50px;
        }
    &__button {
            font-weight: bold;
            font-size: 16px;
            line-height: 32px;
            text-align: center;
            letter-spacing: 0.02em;
            color: #FFFFFF;
    
            width: 152px;
            height: 63.82px;
            left: 200px;
            top: 588.71px;
            background: #FC569A;
            border-radius: 6px;
    
            &:hover {
                background-color: fuchsia;
            }
        } 
    &__img {
        position: relative;
        right: -50px;  
    }   
}


